    <div class="tab-pane fade" id="nav-archived" role="tabpanel" aria-labelledby="nav-archived-tab">Archive
        <div class="row profile__active">
            <div class="col-3">
                <div class="profile__active__img">
                    <img src="{{this.Dog.dataValues.photoUrl}}" />
                </div>
            </div>
            <div class="col-9">
                <div class="confirmation__selection__description">
                    <h3><span>{{this.Dog.dataValues.name}}</span> | <span>{{this.Dog.dataValues.breed}}</span></h3>
                    <hr />
                    <p class="text-small">{{this.Dog.dataValues.profile}}</p>
                </div>
                <div class="profile__active__schedule-details">
                    <h4 class="color-primary bold">Returned:</h4>
                    <span id="pickedUpDate">{{this.dataValues.returnDate}}</span>
                </div>
            </div>
        </div>


    </div>