<div class="tab-pane fade" id="nav-completed" role="tabpanel" aria-labelledby="nav-completed-tab">
    <div class="row profile__active">
        <div class="col-3">
            <div class="profile__active__img">
                <img src="{{this.Dog.dataValues.photoUrl}}" />
            </div>
        </div>
        <div class="col-9">
            <div class="confirmation__selection__description">
                <h3><span>{{this.Dog.dataValues.name}}</span> | <span>{{this.Dog.dataValues.breed}}</span></h3>
                <hr />
                <p class="text-small">{{this.Dog.dataValues.profile}}</p>
            </div>
            <div class="profile__active__schedule-details">
                <h4 class="color-primary bold">Returned:</h4>
                <span id="pickedUpDate">{{this.dataValues.returnDate}}</span>
                <div class="well well-sm">
                    <div class="text-right">
                        <a class="btn btn-success btn-green" href="#reviews-anchor" id="open-review-box">Leave a
                            Review</a>
                    </div>
                    <div class="row" id="post-review-box" style="display:none;">
                        <div class="col-md-12">
                            <form accept-charset="UTF-8" action="/api/rate/dogs" method="post">
                                <input id="ratings-hidden" name="dogId" type="hidden" value="{{this.Dog.id}}">
                                <textarea class="form-control animated" cols="50" id="new-review" name="review"
                                    placeholder="Enter your review here..." rows="5"></textarea>
                                <div class="text-center">
                                    <br>
                                    <img src="/images/rating_1.svg" width="100px" />
                                    <input type="radio" name="score" value="1">
                                    <br>
                                    <img src="/images/rating_2.svg" width="100px" />
                                    <input type="radio" name="score" value="2">
                                    <br>
                                    <img src="/images/rating_3.svg" width="100px" />
                                    <input type="radio" name="score" value="3">
                                    <br>
                                    <img src="/images/rating_4.svg" width="100px" />
                                    <input type="radio" name="score" value="4">
                                    <br>
                                    <br>
                                </div>
                                <div class="text-right">
                                    <button id="close-review-box" class="btn btn-danger btn-lg">Cancel</button>
                                    <button class="btn btn-success btn-lg" type="submit">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <button class="btn btn-secondary statusArchive" data-rentalId={{this.dataValues.id}}>Archive</button>
            </div>
        </div>
    </div>


</div>