<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-active" role="tabpanel" aria-labelledby="nav-active-tab">

        <div class="row profile__active">
            <div class="col-3">
                <div class="profile__active__img">
                    <img src="{{this.dog.dataValues.photoUrl}}" />
                </div>
            </div>
            <div class="col-9">
                <div class="confirmation__selection__description">
                    <h3><span>{{this.dog.dataValues.name}}</span> | <span>{{this.dog.dataValues.breed}}</span></h3>
                    <hr />
                    <p class="text-small">{{this.dog.dataValues.profile}}</p>
                </div>
                <div class="profile__active__schedule-details">
                    <h4 class="color-primary bold">Picked Up:</h4>
                    <span id="pickedUpDate">{{this.dataValues.pickUpDate}}</span>
                    <h4 class="color-primary bold">Return By:</h4>
                    <span id="pickedUpDate">{{this.dataValues.returnDate}}</span>
                    <button class="btn btn-theme-red">Mark Complete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-completed" role="tabpanel" aria-labelledby="nav-completed-tab">
        <div class="row profile__active">
            <div class="col-3">
                <div class="profile__active__img">
                    <img src="images/dog-2.jpg" />
                </div>
            </div>
            <div class="col-9">
                <div class="confirmation__selection__description">
                    <h3><span>Woofy</span> | <span>American Grey Wolf</span></h3>
                    <hr />
                    <p class="text-small">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Voluptas
                        odio
                        debitis accusantium
                        repellat alias laboriosam deserunt? Numquam, eaque qui, totam dignissimos
                        deserunt vero
                        esse
                        ad magnam, doloribus distinctio error ratione?</p>
                </div>
                <div class="profile__active__schedule-details">
                    <h4 class="color-primary bold">Returned:</h4>
                    <span id="pickedUpDate">04/09/2019</span>
                    <button class="btn btn-theme-primary">Leave a Review</button>
                    <button class="btn btn-secondary">Archive</button>
                </div>
            </div>
        </div>


    </div>
    <div class="tab-pane fade" id="nav-reviewed" role="tabpanel" aria-labelledby="nav-reviewed-tab">




    </div>
    <div class="tab-pane fade" id="nav-archived" role="tabpanel" aria-labelledby="nav-archived-tab">
        Archive</div>
</div>